doctype html
html(lang="en")
    include ./head.pug
    body 
        nav 
            div 
              ul 
                li 
                  a(href="/") Home
                li 
                  a(href="/services") services
                li 
                  a(href="/contact") Contact-us

        br
        br
        p 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, in?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, in?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, in?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, in?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, in?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, in?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, in?
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, in?